div {
  width: fit-content;
  margin: auto;

  img {
    height: 150px;
    margin: auto;
    user-select: none;
    -webkit-user-drag: none;

    &[data-played="true"] {
      height: 280px;
    }

    &[data-played="false"] {
      margin-left: 50px;
      margin-right: 50px;

      &:hover {
        cursor: pointer;
        filter: invert(22%) sepia(5%) saturate(6342%);
      }
    }

    &[data-orientation="down"] {
      transform: rotate(180deg);
    }
  }
}

.animate-top {
  position: relative;
  animation: animatetop 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}
@keyframes animatebottom {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
