.game-item {
  width: fit-content;
  margin: auto;
  height: 100%;
  float: right;

  &[data-played="true"] {
    height: 50%;
    float: none;
  }

  img {
    height: 100%;
    user-select: none;
    -webkit-user-drag: none;

    &[data-played="false"] {
      height: 20vmin;
      margin-left: 25px;
      margin-right: 25px;

      &:hover {
        cursor: pointer;
        filter: invert(22%) sepia(5%) saturate(6342%);
      }
    }

    &[data-orientation="down"] {
      transform: rotate(180deg);
    }
  }
}

.animate-top {
  position: relative;
  animation: attack-from-top 0.8s;
}
@keyframes attack-from-top {
  0% {
    top: -300px;
  }
  50% {
    top: 100px;
  }
  100% {
    top: 0;
  }
}

.animate-bottom {
  position: relative;
  animation: attack-from-bottom 0.9s;
}
@keyframes attack-from-bottom {
  0% {
    bottom: -200px;
  }
  50% {
    bottom: 100px;
  }
  100% {
    bottom: 0;
  }
}
