.game-items-played {
  height: 55vh;
  width: fit-content;
  margin: auto;
  padding-bottom: 10px;

  .message {
    text-align: center;
    font-size: 5vmin;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 1;

    &[data-game-result="win"] {
      color: green;
    }

    &[data-game-result="draw"] {
      color: orange;
    }

    &[data-game-result="lose"] {
      color: red;
    }

    -webkit-animation: bounce 0.6s linear;
    animation: bounce 0.6s linear;
  }

  @-webkit-keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    5% {
      transform: scale(2);
    }
    100% {
      transform: scale(1);
    }
  }
}
