.title {
  font-size: 4vw;
  word-spacing: 0.5vmin;
  background: -webkit-linear-gradient(red, blue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  height: fit-content;
  width: 100%;
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.button {
  font-size: 2vw;

  &[data-disabled="true"] {
    cursor: default;
    color: rgba(165, 42, 42, 0.127);
    border-color: rgba(165, 42, 42, 0.127);
  }

  &[data-disabled="false"] {
    animation: fading 4s infinite;
  }

  @keyframes fading {
    0% {
      color: green;
      border-color: green;
    }
    50% {
      color: blue;
      border-color: blue;
    }
    100% {
      color: red;
      border-color: red;
    }
  }

  &:hover {
    animation: none;
  }
}

.mat-input-element,
.ng-star-inserted {
  font-family: "Joystix" !important;
}

/* Remove chrome's ugly input autofill style */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset;
  -webkit-box-shadow: 0 0 0 30px white inset;
}
