.game-board {
  .title {
    font-size: 1.25em;
    word-spacing: 5px;
    background: -webkit-linear-gradient(red, blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: movefromwelcome 0.6s;
  }

  @keyframes movefromwelcome {
    from {
      font-size: 4em;
      word-spacing: 25px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: row;
    }
    to {
      font-size: 1.25em;
      word-spacing: 5px;
    }
  }

  .buttons {
    display: inline-flex;
    flex-direction: row;

    .button {
      font-size: 60%;
      margin-left: 20px;
    }
  }

  .computer-options {
    margin: auto;
  }

  .player-options {
    margin: auto;
    width: fit-content;
  }
}

