.game-board {

  .computer-options {
    margin: auto;
  }

  .played {
    height: 580px;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .player-options {
    margin: auto;
    width: fit-content;

    .game-items {
      display: flex;
      justify-content: space-between;
    }
  }
}
