<div class="game-board">
  <span class="title">Rock Paper Scissors</span>
  <div class="buttons">
    <div class="new-game-button button" (click)="onNewGameClick()">New Game</div>
    <div class="enable-gore-button button" (click)="onGoreSwitchClick()">
      {{ goreEnabled ? "Disable Gore" : "Enable Gore" }}
    </div>
  </div>
  <div class="computer-options">
    <app-player-score [player]="computer"></app-player-score>
  </div>

  <app-game-items-played
    [computerItemType]="computer?.playedItem"
    [humanItemType]="human?.playedItem"
    [goreEnabled]="goreEnabled"
    [humanResult]="humanResult"
  ></app-game-items-played>

  <div class="player-options">
    <app-game-items (onClick)="onGameItemClick($event)"></app-game-items>
    <app-player-score [player]="human"></app-player-score>
  </div>

  <app-hall-of-fame
    [players]="humanPlayers"
    [playerName]="human?.name"
  ></app-hall-of-fame>
</div>
