<div class="game-board">
  <div class="computer-options">
    <app-player-score [player]="computer"></app-player-score>
  </div>

  <div class="played">
    <app-game-item
      [itemType]="computerSelectedItem"
      [played]="true"
      [orientation]="GameItemOrientation.DOWN"
    ></app-game-item>
    <app-game-item
      [itemType]="playerSelectedItem"
      [played]="true"
    ></app-game-item>
  </div>

  <div class="player-options">
    <div class="game-items">
      <app-game-item
        [itemType]="GameItemType.ROCK"
        (onClick)="onGameItemClick($event)"
      ></app-game-item>
      <app-game-item
        [itemType]="GameItemType.PAPER"
        (onClick)="onGameItemClick($event)"
      ></app-game-item>
      <app-game-item
        [itemType]="GameItemType.SCISSORS"
        (onClick)="onGameItemClick($event)"
      ></app-game-item>
    </div>
    <app-player-score *ngIf="player" [player]="player"></app-player-score>
  </div>
</div>
