
.player-score {
  display: flex;
  flex-direction: column;
  min-height: 70px;

  .name {
    font-size: 2em;
    width: fit-content;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 670px;
  }

  .points {
    width: fit-content;
    margin: 0 auto;
  }
}

.points-tooltip {
  font-family: 'Arcade Classic' !important;
}

mat-spinner {
  margin: auto;
}
