.player-score {
  display: flex;
  flex-direction: column;
  height: 8vh;

  .name {
    font-size: 4vmin;
    width: fit-content;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 670px;
    padding-top: 5px;
  }

  .points {
    font-size: 2vmin;
    width: fit-content;
    margin: 0 auto;
  }
}

.points-tooltip {
  font-family: "Joystix", sans-serif !important;
}

mat-spinner {
  margin: auto;
}
