.hall-of-fame {
  position: absolute;
  top: 0;
  right: 0;

  width: 35vw;

  .hall-of-fame-title {
    font-size: 3vmin;
    width: fit-content;
    margin: auto;

    .button {
      display: inline-flex;
      flex-direction: row;
      font-size: 1.25vmin;
    }
  }

  mat-spinner {
    margin: auto;
  }

  .table-container {
    height: 50vmin;
    overflow-y: auto;

    table {
      width: 100%;

      .mat-row {
        height: 5vh !important;
      }

      .mat-header-cell,
      .mat-cell {
        font-family: "Joystix" !important;
        font-size: 1.8vh;
        text-align: center;
        color: unset;
      }

      .cdk-column-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 10vw;
      }

      .current-player {
        color: blue;
      }
    }
  }
}

.name-tooltip {
  font-family: "Arcade Classic" !important;
}
