/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Hellraiser";
  src: local("Hellraiser"),
    url(./assets/fonts/hellraiser-bloody.ttf) format("truetype");
}

@font-face {
  font-family: "Joystix";
  src: local("Joystix"),
    url(./assets/fonts/joystix-monospace.ttf) format("truetype");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Joystix", sans-serif;
}

.button {
  padding: 4px;
  border: solid brown 2px;
  color: brown;
  width: fit-content;
  user-select: none;
  border-radius: 50px;

  &:hover {
    cursor: pointer;
    color: red;
    border-color: red;
  }
}

.mat-tooltip {
  font-family: "Joystix", sans-serif !important;
}
